{% extends "base_with_footer.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block middle %}

<style>
  .nsdi-signup-form-password-forget,
  .nsdi-signup-form-or {
    margin-top: 1.4375rem;
  }

  .nsdi-login-form-submit-button {
    background: #6F7EF2;
  }
</style>

<div class="nsdi-signup">
  <div class="nsdi-signup-form">
    <div class="nsdi-signup-form-errors">
      {{ form.non_field_errors }}

      {% for field in form %}
          {% if field.errors %}
          <div class="fieldWrapper">
            {{ field.label }} {{ field.label_tag }}  {{ field.errors }}
          </div>
          {% endif %}
      {% endfor %}
    </div>
    <div class="nsdi-signup-form-title nsdi-font-size-24 nsdi-font-weight-500">
      Авторизация
    </div>
    <form class="nsdi-signup-form-form" id="login_form" method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      <input type="number" name="iin" placeholder="Введите ИИН" autocomplete="iin" id="id_iin" class="nsdi-signup-form-input user-icon">
      <input type="password" name="password" placeholder="Введите пароль" autocomplete="password" id="id_password" class="nsdi-signup-form-input key-icon">

      <div class="nsdi-signup-form-password-forget nsdi-font-size-14 nsdi-font-weight-400 nsdi-font-color-black text-right">
        {% trans "Forgot password?" %}
      </div>

      <button
        type="submit"
        class="nsdi-signup-form-submit-button d-flex justify-content-center align-items-center nsdi-font-size-18 nsdi-font-weight-500 nsdi-font-color-white nsdi-login-form-submit-button"
      >
        {% trans "Log in" %}
      </button>
    </form>

    <div class="nsdi-signup-form-or nsdi-font-size-18 nsdi-font-weight-400 nsdi-font-color-gray text-center">
      {% trans "or" %}
    </div>

    <form id="login_form_eds" method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      <input type="hidden" name="sign" id="id_sign">
      <button
        type="submit"
        class="nsdi-signup-form-submit-button d-flex justify-content-center align-items-center nsdi-font-size-18 nsdi-font-weight-400 nsdi-font-color-black"
      >
        {% trans "Log in by EDS" %}
      </button>
    </form>

    <div
      class="nsdi-signup-form-already-block nsdi-font-size-18 nsdi-font-weight-400 text-center"
    >
      <span class="nsdi-font-color-gray">{% trans "First time in portal?" %}</span>
      <a href="/account/signup/" class="nsdi-signup-form-already-link">{% trans "Register" %}</a>
    </div>
  </div>
  <div class="nsdi-signup-decor">
    <div class="nsdi-signup-decor-block">
      <div class="nsdi-signup-decor-block-title">
        {% trans "Project name" %}
      </div>
      <div class="nsdi-signup-decor-block-subtitle">
        {% trans "Project subname" %}
      </div>
    </div>
  </div>
</div>


<!-- {{ form.non_field_errors }}

{% for field in form %}
    {% if field.errors %}
    <div class="fieldWrapper">
        {{ field.errors }}
    </div>
    {% endif %}
{% endfor %}

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <input type="email" name="email" placeholder="E-mail адрес" autocomplete="email" required="" id="id_email">
  <input type="password" name="password1" placeholder="Пароль" autocomplete="new-password" required="" id="id_password1">
  <input type="password" name="password2" placeholder="Пароль (еще раз)" autocomplete="new-password" required="" id="id_password2">
  <input type="hidden" name="sign" id="id_sign"> 
  
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->

{% endblock %}

{% block extra_script %}
    <!-- <script type="text/javascript">
        // enable dropdown functionalities
        $('.dropdown-toggle').dropdown();
    </script> -->

    <script src="/static/js/ncalayer.js"></script>

    <script>
        $('#login_form_eds').submit(function(event) {
            event.preventDefault();

            const xmlToSign = '<authorization></authorization>';
            signXml('PKCS12', "AUTH", xmlToSign, (result) => {
                if (result['code'] === "500") {
                    alert(result['message']);
                } else if (result['code'] === "200") {
                    var res = result['responseObject'];
                    $('#id_sign').val(res);
                    $(this).unbind('submit').submit();
                }
            });
        })
    </script>
{% endblock extra_script %}