{% extends "base_with_footer.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block middle %}

<div class="nsdi-signup">
  <div class="nsdi-signup-form">
    <div class="nsdi-signup-form-errors">
      
    </div>
    <div class="nsdi-signup-form-title nsdi-font-size-24 nsdi-font-weight-500">
      {% trans "First time in portal?" %}
    </div>
    <form class="nsdi-signup-form-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Введите E-mail" autocomplete="email" required="" id="id_email" class="nsdi-signup-form-input email-icon">
      <input type="text" name="username" placeholder="Введите логин" autocomplete="username" minlength="1" maxlength="150" class="nsdi-signup-form-input user-icon" required="" id="id_username">
      <input type="password" name="password1" placeholder="Придумайте пароль" autocomplete="new-password" required="" id="id_password1" class="nsdi-signup-form-input key-icon">
      <input type="password" name="password2" placeholder="Повторите пароль" autocomplete="new-password" required="" id="id_password2" class="nsdi-signup-form-input key-icon">
      <input type="hidden" name="sign" id="id_sign">

      <button
        type="submit"
        class="nsdi-signup-form-submit-button d-flex justify-content-center align-items-center nsdi-font-size-18 nsdi-font-weight-400 nsdi-font-color-black"
      >
        {% trans "Register by EDS" %}
      </button>
    </form>

    <div class="pt-4">
      {{ form.non_field_errors }}

      {% for field in form %}
          {% if field.errors %}
          <div class="fieldWrapper">
              {{ field.errors }}
          </div>
          {% endif %}
      {% endfor %}
    </div>

    <div
      class="nsdi-signup-form-already-block nsdi-font-size-18 nsdi-font-weight-400 text-center"
    >
      <span class="nsdi-font-color-gray">{% trans "Already registered?" %}</span>
      <a href="/account/login/" class="nsdi-signup-form-already-link">{% trans "Log in" %}</a>
    </div>
  </div>
  <div class="nsdi-signup-decor">
    <div class="nsdi-signup-decor-block">
      <div class="nsdi-signup-decor-block-title">
        {% trans "National spatial data infrastructure" %}
      </div>
      <div class="nsdi-signup-decor-block-subtitle">
        {% trans "Open data geoportal of Kazakhstan" %}
      </div>
    </div>
  </div>
</div>


<!-- {{ form.non_field_errors }}

{% for field in form %}
    {% if field.errors %}
    <div class="fieldWrapper">
        {{ field.errors }}
    </div>
    {% endif %}
{% endfor %}

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <input type="email" name="email" placeholder="E-mail адрес" autocomplete="email" required="" id="id_email">
  <input type="password" name="password1" placeholder="Пароль" autocomplete="new-password" required="" id="id_password1">
  <input type="password" name="password2" placeholder="Пароль (еще раз)" autocomplete="new-password" required="" id="id_password2">
  <input type="hidden" name="sign" id="id_sign"> 
  
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->

{% endblock %}

{% block extra_script %}
    <!-- <script type="text/javascript">
        // enable dropdown functionalities
        $('.dropdown-toggle').dropdown();
    </script> -->

    <script src="/static/js/ncalayer.js"></script>

    <script>
        $('#signup_form').submit(function(event) {
            event.preventDefault();

            const xmlToSign = '<registration></registration>';
            signXml('PKCS12', "SIGNATURE", xmlToSign, (result) => {
                console.log()
                if (result['code'] === "500") {
                    alert(result['message']);
                } else if (result['code'] === "200") {
                    var res = result['responseObject'];
                    $('#id_sign').val(res);
                    $(this).unbind('submit').submit();
                }
            });
        })
    </script>
{% endblock extra_script %}